.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 50px;
    background: white;
    border-radius: 16px;
    width: 600px;
    color: #242424;
    position: relative;
    height: max-content;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: max-content;
}

.close{
    position: absolute;
    cursor: pointer;
    top:5px;
    right: 15px;
}
